In [41]:
import dask.dataframe as dd
import pandas as pd

df = dd.read_csv("./Data/used_cars_data.csv", dtype={'bed': 'object',
       'bed_height': 'object',
       'bed_length': 'object',
       'cabin': 'object',
       'sp_id' : 'float64',
       'dealer_zip' : 'object'})

In [39]:
df.head()

,vin,back_legroom,bed,bed_height,bed_length,body_type,cabin,city,city_fuel_economy,combine_fuel_economy,...,transmission,transmission_display,trimId,trim_name,vehicle_damage_category,wheel_system,wheel_system_display,wheelbase,width,year
0,ZACNJABB5KPJ92081,35.1 in,NaN,NaN,NaN,SUV / Crossover,NaN,Bayamon,NaN,NaN,...,A,9-Speed Automatic Overdrive,t83804,Latitude FWD,NaN,FWD,Front-Wheel Drive,101.2 in,79.6 in,2019
1,SALCJ2FX1LH858117,38.1 in,NaN,NaN,NaN,SUV / Crossover,NaN,San Juan,NaN,NaN,...,A,9-Speed Automatic Overdrive,t86759,S AWD,NaN,AWD,All-Wheel Drive,107.9 in,85.6 in,2020
2,JF1VA2M67G9829723,35.4 in,NaN,NaN,NaN,Sedan,NaN,Guaynabo,17.0,NaN,...,M,6-Speed Manual,t58994,Base,NaN,AWD,All-Wheel Drive,104.3 in,78.9 in,2016
3,SALRR2RV0L2433391,37.6 in,NaN,NaN,NaN,SUV / Crossover,NaN,San Juan,NaN,NaN,...,A,8-Speed Automatic Overdrive,t86074,V6 HSE AWD,NaN,AWD,All-Wheel Drive,115 in,87.4 in,2020
4,SALCJ2FXXLH862327,38.1 in,NaN,NaN,NaN,SUV / Crossover,NaN,San Juan,NaN,NaN,...,A,9-Speed Automatic Overdrive,t86759,S AWD,NaN,AWD,All-Wheel Drive,107.9 in,85.6 in,2020

In [122]:
test = df.head(50000, npartitions=10)
my_df = pd.DataFrame(test)

In [45]:
my_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 14851
Data columns (total 66 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   vin                      50000 non-null  object
 1   back_legroom             47503 non-null  object
 2   bed                      424 non-null    object
 3   bed_height               3432 non-null   object
 4   bed_length               3432 non-null   object
 5   body_type                49771 non-null  object
 6   cabin                    676 non-null    object
 7   city                     50000 non-null  object
 8   city_fuel_economy        42557 non-null  float64
 9   combine_fuel_economy     0 non-null      float64
 10  daysonmarket             50000 non-null  int64
 11  dealer_zip               50000 non-null  object
 12  description              47888 non-null  object
 13  engine_cylinders         48564 non-null  object
 14  engine_displacement      47328 non-null  float64
 15  engine_type              48564 non-null  object
 16  exterior_color           50000 non-null  object
 17  fleet                    30058 non-null  object
 18  frame_damaged            30058 non-null  object
 19  franchise_dealer         50000 non-null  bool
 20  franchise_make           34394 non-null  object
 21  front_legroom            47503 non-null  object
 22  fuel_tank_volume         47503 non-null  object
 23  fuel_type                48765 non-null  object
 24  has_accidents            30058 non-null  object
 25  height                   47503 non-null  object
 26  highway_fuel_economy     42557 non-null  float64
 27  horsepower               47328 non-null  float64
 28  interior_color           50000 non-null  object
 29  isCab                    30058 non-null  object
 30  is_certified             0 non-null      float64
 31  is_cpo                   3980 non-null   float64
 32  is_new                   50000 non-null  bool
 33  is_oemcpo                2863 non-null   float64
 34  latitude                 50000 non-null  float64
 35  length                   47503 non-null  object
 36  listed_date              50000 non-null  object
 37  listing_color            50000 non-null  object
 38  listing_id               50000 non-null  int64
 39  longitude                50000 non-null  float64
 40  main_picture_url         41616 non-null  object
 41  major_options            46017 non-null  object
 42  make_name                50000 non-null  object
 43  maximum_seating          47503 non-null  object
 44  mileage                  48171 non-null  float64
 45  model_name               50000 non-null  object
 46  owner_count              28688 non-null  float64
 47  power                    42776 non-null  object
 48  price                    50000 non-null  float64
 49  salvage                  30058 non-null  object
 50  savings_amount           50000 non-null  int64
 51  seller_rating            49621 non-null  float64
 52  sp_id                    50000 non-null  float64
 53  sp_name                  50000 non-null  object
 54  theft_title              30058 non-null  object
 55  torque                   42216 non-null  object
 56  transmission             49574 non-null  object
 57  transmission_display     49574 non-null  object
 58  trimId                   48059 non-null  object
 59  trim_name                48046 non-null  object
 60  vehicle_damage_category  0 non-null      float64
 61  wheel_system             47660 non-null  object
 62  wheel_system_display     47660 non-null  object
 63  wheelbase                47503 non-null  object
 64  width                    47503 non-null  object
 65  year                     50000 non-null  int64
dtypes: bool(2), float64(16), int64(4), object(44)
memory usage: 24.9+ MB

In [46]:
my_df.columns

Index(['vin', 'back_legroom', 'bed', 'bed_height', 'bed_length', 'body_type',
       'cabin', 'city', 'city_fuel_economy', 'combine_fuel_economy',
       'daysonmarket', 'dealer_zip', 'description', 'engine_cylinders',
       'engine_displacement', 'engine_type', 'exterior_color', 'fleet',
       'frame_damaged', 'franchise_dealer', 'franchise_make', 'front_legroom',
       'fuel_tank_volume', 'fuel_type', 'has_accidents', 'height',
       'highway_fuel_economy', 'horsepower', 'interior_color', 'isCab',
       'is_certified', 'is_cpo', 'is_new', 'is_oemcpo', 'latitude', 'length',
       'listed_date', 'listing_color', 'listing_id', 'longitude',
       'main_picture_url', 'major_options', 'make_name', 'maximum_seating',
       'mileage', 'model_name', 'owner_count', 'power', 'price', 'salvage',
       'savings_amount', 'seller_rating', 'sp_id', 'sp_name', 'theft_title',
       'torque', 'transmission', 'transmission_display', 'trimId', 'trim_name',
       'vehicle_damage_category', 'wheel_system', 'wheel_system_display',
       'wheelbase', 'width', 'year'],
      dtype='object')

In [123]:
columns_to_drop = ['savings_amount', 'width', 'vin', 'description', 'engine_type', 'sp_id', 'listing_id',
                   'power', 'torque', 'trimId', 'trim_name', 'vehicle_damage_category', 'major_options', 'main_picture_url', 'length', 'is_oemcpo', 'is_cpo', 'is_certified', 'height', 'front_legroom', 'fleet', 'combine_fuel_economy', 'cabin', 'bed_length', 'bed_height', 'bed', 'back_legroom']

dropped_df = my_df.drop(columns=columns_to_drop, axis=1)

In [116]:
dask_dropped = df.drop(columns=columns_to_drop)
dask_dropped.head()

,body_type,city,city_fuel_economy,daysonmarket,dealer_zip,engine_cylinders,engine_displacement,exterior_color,frame_damaged,franchise_dealer,...,salvage,seller_rating,sp_name,theft_title,transmission,transmission_display,wheel_system,wheel_system_display,wheelbase,year
0,SUV / Crossover,Bayamon,NaN,522,00960,I4,1300.0,Solar Yellow,NaN,True,...,NaN,2.8,Flagship Chrysler,NaN,A,9-Speed Automatic Overdrive,FWD,Front-Wheel Drive,101.2 in,2019
1,SUV / Crossover,San Juan,NaN,207,00922,I4,2000.0,Narvik Black,NaN,True,...,NaN,3.0,Land Rover San Juan,NaN,A,9-Speed Automatic Overdrive,AWD,All-Wheel Drive,107.9 in,2020
2,Sedan,Guaynabo,17.0,1233,00969,H4,2500.0,None,False,True,...,False,NaN,FIAT de San Juan,False,M,6-Speed Manual,AWD,All-Wheel Drive,104.3 in,2016
3,SUV / Crossover,San Juan,NaN,196,00922,V6,3000.0,Eiger Gray,NaN,True,...,NaN,3.0,Land Rover San Juan,NaN,A,8-Speed Automatic Overdrive,AWD,All-Wheel Drive,115 in,2020
4,SUV / Crossover,San Juan,NaN,137,00922,I4,2000.0,Narvik Black,NaN,True,...,NaN,3.0,Land Rover San Juan,NaN,A,9-Speed Automatic Overdrive,AWD,All-Wheel Drive,107.9 in,2020

In [112]:
dropped_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 14851
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   body_type             49771 non-null  object
 1   city                  50000 non-null  object
 2   city_fuel_economy     42557 non-null  float64
 3   daysonmarket          50000 non-null  int64
 4   dealer_zip            50000 non-null  object
 5   engine_cylinders      48564 non-null  object
 6   engine_displacement   47328 non-null  float64
 7   exterior_color        50000 non-null  object
 8   frame_damaged         30058 non-null  object
 9   franchise_dealer      50000 non-null  bool
 10  franchise_make        34394 non-null  object
 11  fuel_tank_volume      47503 non-null  object
 12  fuel_type             48765 non-null  object
 13  has_accidents         30058 non-null  object
 14  highway_fuel_economy  42557 non-null  float64
 15  horsepower            47328 non-null  float64
 16  interior_color        50000 non-null  object
 17  isCab                 30058 non-null  object
 18  is_new                50000 non-null  bool
 19  latitude              50000 non-null  float64
 20  listed_date           50000 non-null  object
 21  listing_color         50000 non-null  object
 22  longitude             50000 non-null  float64
 23  make_name             50000 non-null  object
 24  maximum_seating       47503 non-null  object
 25  mileage               48171 non-null  float64
 26  model_name            50000 non-null  object
 27  owner_count           28688 non-null  float64
 28  price                 50000 non-null  float64
 29  salvage               30058 non-null  object
 30  seller_rating         49621 non-null  float64
 31  sp_name               50000 non-null  object
 32  theft_title           30058 non-null  object
 33  transmission          49574 non-null  object
 34  transmission_display  49574 non-null  object
 35  wheel_system          47660 non-null  object
 36  wheel_system_display  47660 non-null  object
 37  wheelbase             47503 non-null  object
 38  year                  50000 non-null  int64
dtypes: bool(2), float64(10), int64(2), object(25)
memory usage: 14.6+ MB

In [125]:
dropped_df.owner_count = dropped_df.owner_count.fillna(0.0)